body {
  background-image: url(http://images6.fanpop.com/image/photos/34500000/Blue-Wallpaper-colors-34503013-1600-1200.jpg);
background-size: cover;
background-position: ;
font-family: cursive;
}

.asd{
  margin-left: 75px;
  margin-top: 20px;
}


table {border-collapse: collapse;
transform: scale(1.1);
margin-left: 40px;

}
.img {
  position:fixed;
  top: 100px;
  right: 200px;
}
td {
  color: steelblue
}
th {background-color: steelblue}
table, th, td {
  border: 1px solid black;
}
